
.header {
    width: 100%;
    padding: 10px 2%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-bottom: 1px solid #d4d4d3;
}

.logo {
    font-size: 32px;
    font-weight: bold;
    color: #191826;
}

@media (max-width: 768px) {
    .logo {
        font-size: 28px;
    }
}

@media (max-width: 480px) {
    .logo {
        font-size: 24px;
    }
}
