.tarjeta{
    background-color: #ffa745;
    color: #191826;
    border-radius: 12px;
    padding: 2rem;
    max-width: 320px;
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.2);
    text-align: left;
}
.pricing-titulo{
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
}
.pricing-informacion{
    font-size: .9rem;
    line-height: 1.4rem;
    margin-bottom: 1.5rem;
}
.pricing-precio, .dinero{
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 1.5rem;
}
.periodo{
     font-size: .9rem;
    line-height: 1.4rem;
    margin-bottom: 1.5rem;
}
.buttons button{
   flex: 1;
  padding: 0.7rem;
  border-radius: 8px;
  font-weight: bold;
  border: none;
  cursor: pointer;
  transition: 0.3s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem
}
.ios{
    background-color: #191826;
    color: white;
}
.android{
    background-color: white;
    color: #191826;
}

.ios:hover{
    background-color: #66e2dc;
    color: white;
}
.android:hover{
    background-color: #ffb964;
    color: #191826;
}
.buttons button:active{
    transform: scale(.95);
}